# NutriCalc Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection String
# Replace with your actual MongoDB Atlas cluster connection string
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/nutricalc?retryWrites=true&w=majority&appName=NutriCalcCluster

# Security / CORS settings
CLIENT_ORIGIN=http://localhost:5173
